* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.section-main {
    background: url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-main {
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(rgb(117, 25, 179) 20%, rgb(50, 50, 50) 0%);
}

.profile_image {
    position: absolute;
    border: 5px rgb(50, 50, 50) solid;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-top: 2%;
    margin-left: 2.9%;
}

.profile_status {
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(50, 50, 50);
    border: 5px rgb(50, 50, 50) solid;
    border-radius: 100%;
    margin-top: 17.5%;
    margin-left: 70px;
}

.profile_status_online {
    background: rgb(6, 204, 23);
}

.profile_status_dnd {
    background: rgb(233, 49, 49);
}

.profile_status_dnd_line {
    position: absolute;
    margin-top: 42%;
    margin-left: 12%;
    width: 10px;
    height: 3px;
    background: rgb(50, 50, 50);
    border-radius: 20%;
}

.box-second {
    position: absolute;
    width: 370px;
    height: 178px;
    background: rgb(30, 30, 30);
    border-radius: 10px;
    margin-top: 26%;
    margin-left: 4%;
}

.profile_name {
    position: absolute;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: 5%;
}

.profile_discriminator {
    position: absolute;
    color:rgb(200, 200, 200)
}

.profile_line {
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: rgb(60, 60, 60);
    margin-top: 15%;
    margin-left: 7%;
}

.profile_currently {
    position: absolute;
    font-size: 14px;
    color: rgb(160, 160, 160);
    margin-top: 29%;
    margin-left: 18%;
}